Repository GDG-on-Campus-KHU/SDGP_team3_FE, pull requests merged in 2025-05, with the labels that each got.

#10 [FEAT] 공통 컴포넌트 ProgressBar, Toast 구현
  eslint.config.js
  package.json
  pnpm-lock.yaml
  public/icons/checkIcon.svg
  public/icons/closeIcon.svg
  src/App.jsx
  src/index.css
  src/pages/main/index.jsx
  src/shared/model/useToast.js
  src/shared/ui/button.jsx
  src/shared/ui/header.jsx
  src/shared/ui/progressBar.jsx
  src/shared/ui/toast.jsx
  tailwind.config.cjs
Labels: ✨ feat, ⏰ auto approve

#11 [FEAT] 챌린지 홈화면 UI 구현
  components.json
  jsconfig.json
  package.json
  pnpm-lock.yaml
  public/icons/challenge/basketIcon.svg
  public/icons/challenge/ploggingIcon.svg
  public/icons/challenge/spoonIcon.svg
  public/icons/challenge/transportationIcon.svg
  public/icons/challenge/tumberIcon.svg
  public/icons/photoIcon.svg
  src/App.jsx
  src/features/main/index.jsx
  src/features/main/model/api/challengeApi.js
  src/features/main/model/store/useChallengesStore.js
  src/features/main/model/usePhotoModal.js
  src/features/main/ui/Tabbar/tabs.jsx
  src/features/main/ui/Tabbar/wrappedTabs.jsx
  src/features/main/ui/challengeList.jsx
  src/features/main/ui/tabbar.jsx
  src/index.css
  src/pages/main/index.jsx
  src/shared/config/challengeConfig.js
  src/shared/config/config.js
  src/shared/lib/utils.js
  src/shared/lib/utils.ts
  src/shared/ui/ChallengeCard.jsx
  src/shared/ui/Footer/footer.jsx
  src/shared/ui/Modal/dialog.jsx
  src/shared/ui/Modal/photoDialog.jsx
  src/shared/ui/Modal/wrappedDialog.jsx
  src/shared/ui/button.jsx
  src/shared/ui/header.jsx
  src/shared/ui/progressBar.jsx
  tailwind.config.cjs
  vite.config.js
Labels: ✨ feat, ⏰ auto approve

#14 [FEAT] 나의 세계 화면 UI 구현
  public/icons/logo/logo-en.svg
  public/icons/logo/logo-kr.svg
  src/App.jsx
  src/pages/world/index.jsx
  src/shared/ui/PostCard.jsx
  src/shared/ui/header.jsx
Labels: ✨ feat

#16 [FEAT] 챌린지 생성하기 UI 구현
  public/images/confetti.svg
  src/App.jsx
  src/features/create/config/headerConfig.js
  src/features/create/firstStep.jsx
  src/features/create/index.jsx
  src/features/create/secondStep.jsx
  src/features/create/thirdStep.jsx
  src/features/create/ui/topSection.jsx
  src/index.css
  src/pages/create/index.jsx
  src/shared/config/challengeConfig.js
  src/shared/ui/ChallengeCard.jsx
  src/shared/ui/Modal/dialog.jsx
  tailwind.config.cjs
Labels: ✨ feat, ⏰ auto approve

#21 [FEAT] 스탬프, 쿠폰 / API 연결
  index.html
  package.json
  pnpm-lock.yaml
  public/favicon.svg
  public/icons/loading.json
  public/vite.svg
  src/assets/loading.json
  src/features/create/index.jsx
  src/features/create/model/api/createChallengeApi.js
  src/features/create/model/store/useCreatedChallenge.js
  src/features/main/config/stampConfig.js
  src/features/main/index.jsx
  src/features/main/model/api/challengeApi.js
  src/features/main/model/api/stampApi.js
  src/features/main/model/store/useChallengesStore.js
  src/features/main/model/store/useStampsStore.js
  src/features/main/model/usePhotoModal.js
  src/features/main/ui/Coupon/coupon.jsx
  src/features/main/ui/Stamp/stamp.jsx
  src/features/main/ui/Stamp/stampList.jsx
  src/features/main/ui/Tabbar/wrappedTabs.jsx
  src/features/main/ui/challengeList.jsx
  src/shared/config/challengeConfig.js
  src/shared/ui/ChallengeCard.jsx
  src/shared/ui/Modal/photoDialog.jsx
  src/shared/ui/loading.jsx
Labels: ✨ feat, ⏰ auto approve

#22 Merge to develop
  public/images/confetti-done.svg
  src/App.jsx
  src/features/create/model/store/useCreatedChallenge.js
  src/features/login/index.jsx
  src/features/login/model/api/loginApi.js
  src/features/login/ui/loginUi.jsx
  src/features/login/ui/splash.jsx
  src/features/main/model/api/stampApi.js
  src/features/main/model/store/useChallengesStore.js
  src/pages/success/index.jsx
  src/shared/ui/Modal/assetDialog.jsx
  src/shared/ui/Modal/photoDialog.jsx
  src/shared/ui/PostCard.jsx
Labels: ⏰ auto approve
